* {
    line-height: 1.5;
    font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}

html, body {
    height: 100%;
    margin: 0;
}

a, a:visited {
    cursor: pointer;
    text-decoration: none;
    color: #0000cc;
}

h1 {
    font-weight: normal;
    font-size: 1.75em;
    margin: 8px 0;
    padding: 0;
}

hr {
    opacity: 0;
}

.message-nick {
    font-weight: bold;
}

.message-nick-self {
    font-style: italic;
}

.highlight {
    background-color: #ffffdd;
}

.action {
    font-style: italic;
}

.buffer-list-item:hover {
    color: #fff;
    background-color: #222;
}

.unread {
    font-weight: 900;
}

.current-buffer::after {
    content: " •";
}

.clickable {
    cursor: pointer;
}

.timestamp {
    float: right;
    color: #a0a0a0;
    font-size: 12px;
}

.copy-text {
    font-size: 0;
    color: rgba(0,0,0,0);
}

.group {
    padding-bottom: .5ch;
}

.group-messages {
    border: rgba(0,0,0,.05) solid;
    border-width: 0 0 0 .5ch;
    padding-left: .5ch;
    display: flex;
    flex-direction: column;
    flex: 1;
    word-wrap: break-word;
}

.command-name {
    width: 250px;
    font-family: Monaco, monospaced;
    display: inline-block;
}

.command-desc {
    display: inline-block;
}

#buffer-header {
    position: relative;
}

#buffer-topic {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: .5em;
    background: white;
}

#buffer-topic:hover {
    white-space: normal;
    overflow: auto;
    position: absolute;
}

#input-line {
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.15);
}

.form-row label {
    display: block;
    padding: 1ch 0;
}

.form-row {
    display: block;
    width: 100%;
}

ul {
    padding: 0 0 0 2ch;
    list-style-type: none;
}

#container {
    display: flex;
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto;
}

#buffer-list {
    width: 150px;
    text-overflow: ellipsis;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
}

#buffer-view {
    display: flex;
    min-width: 25ch;
    margin-left: 2ch;
    margin-right: 2ch;
    flex-direction: column;
    height: 100vh;
    flex: 1;
}

#buffer-messages {
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 1ch 0;
    display: flex;
    flex-direction: column;
}

#buffer-footer {
    padding-bottom: 1ch;
}

.flex-fixed {
    flex: 0 0 auto;
}

input {
    padding: 1.2ch;
    width: 100%;
    box-sizing: border-box;
}
